.admin-page {
  text-align: center;
  
}

.fixed-container {
  position: fixed;
  top: 0;
  left: 20%; /* Adjust the left positioning as needed */
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  margin-top: 6rem;
}

.fixed-search {
  width: 100%;
  padding: 5px;
  margin-top: 20px;
}

.users-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-top: 100px; /* Adjust the margin as needed to create space below the fixed container */
}

.users-container > * {
  flex-basis: 20%;
  margin: 3px;
}

.add-member-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgb(42, 137, 30);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
